<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">LMS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          {% if 'user.roll_no' in session %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main') }}">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('profile') }}">PROFILE</a>
          </li>
          {%if session['user.is_admin'] %}
            <li class="nav-item">
              <a class="nav-link"  href="{{ url_for('book_request') }}">REQUEST</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('history_librarian') }}">ISSUE</a>
            </li>
          
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('history_user') }}">ISSUE</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('submit_feedback') }}">FEEDBACK</a>
          </li> 
          {% endif %} 
          
          
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('student_login') }}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('student_register') }}">Register</a>
          </li>
            
          {% endif %}
          
        </ul>

        
        
      </div>
    </div>
  </nav>